@import "~normalize.css";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.82);
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
html {
  height: 100%;
}

.wrapper {
  position: relative;
}

.wrapper, .content {
  width: 100%;
  height: 100%;
}

//////////// Вспомгательные

.text-gray {
  color: rgba(0, 0, 0, 0.64);
}

.text-gray-white {
  color: rgba(0, 0, 0, 0.4);
}

.text-black {
  color: #000000;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

/////////

.content {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  background: #F0F0F0;
}

.column {
  overflow-y: auto;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.block-overlay {
  background: #FFFFFF;
  padding: 24px 16px;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  opacity: 0.82;

  &_big {
    font-size: 20px;
  }
}

.applications {
  &__header {
    margin-bottom: 32px;
  }
  
  &__header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 85%;
  }

  &__block > li:not(:last-child) {
    margin-bottom: 32px;
  }
}

.application-list {
  & li {
    padding: 8px 0;
    cursor: pointer;

    &:hover {
      background: #F0F0F0;
      padding: 8px 16px;
      margin: 0 -16px;
    }
  }
}

.scroll-parent {
  position: relative;
	overflow: hidden;
	border: solid 1px #dedede;
	border-width: 1px 0;
}

.scroll-child {
  width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 2px;
	bottom: 0;
  background: #FFFFFF;
}

.content-scroll {
	height: 100%;
	overflow-y: auto;
	right: -16px;
  padding: 24px 16px;
  position: absolute;
	left: 0;

  &_padding {
    padding: 0 16px 0 0;
  }
}

.scrollbar, .scroller {
	width: 4px;
	position: absolute;
	top: 0;
}
.scrollbar {
	right: 0;
	bottom: 0;
}
.scroller {
	left: -2px;
	border-radius: 2px;
	background: #ccc;
	cursor: pointer;
}

.block-info-list {
  & > li {
    border-bottom: 4px solid #EBEBEB;;
  }
}